<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx 
  		http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<context:annotation-config />
	<context:component-scan
		base-package="com.excilys.formation.java.computerdatabase.persistence.impl" />
		<context:component-scan
		base-package="com.excilys.formation.java.computerdatabase.model" />
	<context:component-scan
		base-package="com.excilys.formation.java.computerdatabase.mapper" />
	<context:component-scan
		base-package="com.excilys.formation.java.computerdatabase.service.impl" />
	<context:component-scan
		base-package="com.excilys.formation.java.computerdatabase.ui" />

	<context:property-placeholder location="classpath:/sql.properties" />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${mySQLdriver}" />
		<property name="url" value="${mySQLurl}" />
		<property name="username" value="${mySQLlog}" />
		<property name="password" value="${mySQLpsw}" />
	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" >
	  <property name="dataSource" ref="dataSource" />
	  <property name="packagesToScan" value="com.excilys.formation.java.computerdatabase.model" />
		<property name="hibernateProperties">
	    <props>
	      <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
	      <prop key="hibernate.show_sql">true</prop>
	    </props>
	  </property> 
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="basenames">
			<list>
				<value>classpath:/messages/messages</value>
			</list>
		</property>
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
</beans>